.card-text{
    font-size: 10px !important;
    margin-bottom: -3px !important;
}

.cardGato{
    margin-top: 15px !important;
    padding: 4px !important;
}

.imgGato{
    height: 160px !important;
}